<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>11-代码方式创建应用管理器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B1179C91C7018F9000DDF5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B1179E21C7018F9000DDF5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B1179ED1C7018F9000DDF5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
